.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.gradle/2.5/taskArtifacts/cache.properties
.gradle/2.5/taskArtifacts/cache.properties.lock
.gradle/2.5/taskArtifacts/fileHashes.bin
.gradle/2.5/taskArtifacts/fileSnapshots.bin
.gradle/2.5/taskArtifacts/outputFileStates.bin
.gradle/2.5/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_7.xml
.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_7.xml
.idea/libraries/Gradle__com_fasterxml_classmate_1_3_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_8_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_8_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_8_1.xml
.idea/libraries/Gradle__com_jayway_jsonpath_json_path_2_2_0.xml
.idea/libraries/Gradle__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Gradle__commons_io_commons_io_2_5.xml
.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__net_minidev_accessors_smart_1_1.xml
.idea/libraries/Gradle__net_minidev_json_smart_2_2_1.xml
.idea/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_0.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_5_4.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_5_4.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_4.xml
.idea/libraries/Gradle__org_assertj_assertj_core_2_5_0.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_2_4_Final.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Gradle__org_json_json_20140107.xml
.idea/libraries/Gradle__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Gradle__org_objenesis_objenesis_2_1.xml
.idea/libraries/Gradle__org_ow2_asm_asm_5_0_3.xml
.idea/libraries/Gradle__org_skyscreamer_jsonassert_1_3_0.xml
.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_21.xml
.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_21.xml
.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_21.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_21.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_security_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_autoconfigure_1_4_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_config_4_1_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_core_4_1_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_web_4_1_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aop_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_test_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_web_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_2_RELEASE.xml
.idea/libraries/Gradle__org_yaml_snakeyaml_1_17.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
HyperVProxy.iml
build/classes/main/com/hypergrid/hyperform/hypervproxy/controller/CmdletsController.class
build/classes/main/com/hypergrid/hyperform/hypervproxy/main/Application.class
build/classes/main/com/hypergrid/hyperform/hypervproxy/main/WebSecurityConfig.class
build/classes/main/com/hypergrid/hyperform/hypervproxy/service/CmdletsService.class
build/classes/main/com/hypergrid/hyperform/hypervproxy/service/CmdletsServiceImpl.class
build/libs/hyper-v-proxy-1.0.jar
build/libs/hyper-v-proxy-1.0.jar.original
build/resources/main/application.properties
build/tmp/jar/MANIFEST.MF
hypervproxy.log
.idea/uiDesigner.xml
build/classes/main/com/hypergrid/hyperform/hypervproxy/config/WebSecurityConfig.class
build/libs/HyperForm-HyperVProxy-1.0-SNAPSHOT-*.jar
build/libs/HyperForm-HyperVProxy-1.0-SNAPSHOT-1470718588454.jar.original
